body{
  background-color: lightgrey;
}
.container{
  padding-right: 0;
  margin-right: 0;
}

label{
  margin-bottom: 1px;
}
input{
  margin-bottom: 0;
  margin-bottom: -5px;
}

#orderSummary{
  background-color: white;
  color: black;
  font-size: .9em;
}

.pizzaName{
  margin-top: 30px;
  border-top: 2px solid black;
}

.orderSummaryInput{
  font-weight: bold;
}

.pizzaOrders, .customerInfo {
  display: none;
}

.pizzaSummaryInput{
  line-height: .5em;
  font-weight: bold;
}
